@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}


@layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


.preventTouch {
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
}

.allowTouch {
  -webkit-user-select: auto; /* Safari */
  -webkit-touch-callout: default; /* iOS Safari */
  -moz-user-select: auto;    /* Firefox */
  -ms-user-select: auto;     /* Internet Explorer/Edge */
  user-select: auto;         /* Standard */
}

/*@keyframes bounce {*/
/*  0% {*/
/*    transform: scale(1);*/
/*  }*/
/*  50% {*/
/*    transform: scale(1.15);*/
/*  }*/
/*  70% {*/
/*    transform: scale(0.9);*/
/*  }*/
/*  100% {*/
/*    transform: scale(1);*/
/*  }*/
/*}*/

/*.bounce {*/
/*  animation: bounce 0.4s ease;*/
/*}*/


@keyframes faceIn {
  0% {
    /*transform: translateY(-200%) translateX(-50%);*/
    opacity: 0;
  }
  100% {
    /*transform: translateY(-50%) translateX(-50%);*/
    opacity: 100%;
  }
}

.faceIn {
  animation: faceIn 0.3s ease-in-out;
}

@keyframes faceOut {
  0% {
    opacity: 100%;
    transform: translateY(-50%) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-200%) translateX(-50%);
  }
}

.faceOut {
  animation: faceOut 0.2s ease-in-out forwards;
}

@keyframes loading {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}

.loading {
  animation: loading 0.8s ease infinite;
}

@keyframes iconBounce {
  0% {
    transform: translateY(0);
    opacity: 100%;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  40% {
    transform: translateY(-10px);
    opacity: 70%;
    animation-timing-function: cubic-bezier(0.5, 0.35, 0.75, 0.5);
  }
  50% {
    transform: translateY(-10px);
    opacity: 70%;
    animation-timing-function: cubic-bezier(0.5, 0.35, 0.75, 0.5);
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  }
}

.iconBounce {
  animation: iconBounce 0.8s infinite;
}

.diagonal-box-left {
  clip-path: polygon(-2% -2%, 100% -2%, 95% 102%, -2% 102%);
}

.diagonal-box-left::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  width: 100%;
  height: 0.08rem;
  background-color: hsl(var(--destructive)); /* 線の色 */
  transform: rotate(-81deg); /* 角度 */
  transform-origin: bottom right;
}

.diagonal-box-right {
  clip-path: polygon(5% -2%, 102% -2%, 102% 102%, 0% 102%);
}

.diagonal-box-right::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0.05rem;
  width: 100%;
  height: 0.08rem;
  background-color: rgb(22,163,74); /* 線の色 */
  transform: rotate(-81deg); /* 角度 */
  transform-origin: bottom left;
}

@media (min-width: 640px) {
  .diagonal-box-right::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0.05rem;
    width: 100%;
    height: 0.08rem;
    background-color: rgb(22,163,74); /* 線の色 */
    transform: rotate(-79.5deg); /* 角度 */
    transform-origin: bottom left;
  }

  .diagonal-box-left::after {
    content: '';
    position: absolute;
    top: -3px;
    right: 0;
    width: 100%;
    height: 0.08rem;
    background-color: hsl(var(--destructive)); /* 線の色 */
    transform: rotate(-79.5deg); /* 角度 */
    transform-origin: bottom right;
  }
}

.examples {
  font-family: 'DIN 2014', sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.line-2-horizontal {
  --size: 32px;
  --stroke-width: calc(var(--size) / 6);
  --color: hsl(var(--primary));
  --animation-timing-function: linear;
  --animation-duration: 1s;
  position: fixed;
  width: var(--size);
  height: var(--size);
}

.line-2-horizontal::before,
.line-2-horizontal::after {
  content: '';
  position: absolute;
  transform: scaleY(1);
  animation: var(--animation-timing-function) var(--animation-duration) infinite line-2-horizontal-animation;
}

.line-2-horizontal::before {
  inset: 0;
  border-top: var(--stroke-width) solid var(--color);
  border-bottom: var(--stroke-width) solid var(--color);
}

.line-2-horizontal::after {
  top: calc(50% - var(--stroke-width) / 2);
  right: 0;
  left: 0;
  border-top: var(--stroke-width) solid var(--color);
  animation-delay: calc(var(--animation-duration) / 2);
}

@keyframes line-2-horizontal-animation {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(.5);
  }

  100% {
    transform: scaleX(1);
  }
}

.circle-pulse-1 {
  --size: 48px;
  --color: hsl(var(--primary));
  --animation-timing-function: linear;
  --animation-duration: 2s;
  position: fixed;
  width: var(--size);
  height: var(--size);
}

.circle-pulse-1::before,
.circle-pulse-1::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: var(--animation-timing-function) var(--animation-duration) infinite circle-pulse-1-animation;
}

.circle-pulse-1::after {
  animation-delay: calc(var(--animation-duration) / 2);
}

@keyframes circle-pulse-1-animation {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.square-spin-2 {
  --size: 32px;
  --stroke-width: calc(var(--size) / 6);
  --color: hsl(var(--primary));
  --animation-timing-function: linear;
  --animation-duration: 2s;
  position: fixed;
  width: var(--size);
  height: var(--size);
  background-image:
      radial-gradient(circle at var(--stroke-width) var(--stroke-width), var(--color) 0%, var(--color) var(--stroke-width), transparent var(--stroke-width), transparent 100%),
      radial-gradient(circle at calc(100% - var(--stroke-width)) var(--stroke-width), var(--color) 0%, var(--color) var(--stroke-width), transparent var(--stroke-width), transparent 100%),
      radial-gradient(circle at calc(100% - var(--stroke-width)) calc(100% - var(--stroke-width)), var(--color) 0%, var(--color) var(--stroke-width), transparent var(--stroke-width), transparent 100%),
      radial-gradient(circle at var(--stroke-width) calc(100% - var(--stroke-width)), var(--color) 0%, var(--color) var(--stroke-width), transparent var(--stroke-width), transparent 100%);
  animation: var(--animation-timing-function) var(--animation-duration) infinite square-spin-2-animation;
}

@keyframes square-spin-2-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}